@import "config";
@import "utilities";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $textReg;
    background: #fff;
    font-size: 15px;
    line-height: 1.6;
}

a {
    color: $main-text;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    // max-width: 1000px;
    margin: auto;
}

/* Nav */
.main-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-family: $textReg;
    font-size: 21px;
}

.main-nav .logo {
    width: 140px;
    border-radius: 7%;
    margin-top: 25rem;
    margin-left: 10rem;
    position: relative;
    z-index: 3;
}

.main-nav ul {
    display: flex;
    justify-content: flex-end;
}

.main-nav ul li {
    padding: 0 3rem;
}

.main-nav ul li a {
    padding-bottom: 2px;

    &:hover {
        color: $carolina-blue;
    }
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    letter-spacing: .5px;
    border: 0;
    border-radius: 8%;
    background: $main-text;
    color: #fff;
    font-size: small;

    &:hover {
        color: $carolina-blue;
    }
}

/* Showcase */
.showcase {
    height: 100vh;
    background: url('/dist/images/showcase.JPG') no-repeat center center/cover;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    justify-content: stretch;
    align-content: center;
    position: relative;
    z-index: 2;
}

.showcase .btn {
    margin-top: 20px;
    border: 1px;
    border-radius: 1.5em;
    flex: 0 1 auto;
    align-self: center;
    padding: .5em 1.5em;
    margin: 40px 0px 0px 30px; // top right bottom left
}

// .showcase span {
//     // background: rgba(lighten(rgb(158, 178, 185), 2), 0.1);
// }

.showcase h1 {
    color: $main-text;
    font-family: $textScript;
    text-shadow: 1px 1px #fff;
    font-size: 60px;
    padding: 40px 0px 0px 30px; // top right bottom left
    flex: 0 1 auto;
    align-self: center;
}

.showcase p {
    font-family: $textScript;
    text-shadow: .5px .5px #fff;
    font-size: 33px;
    color: $main-text;
    line-height: 1.6px;
    letter-spacing: .8px;
    flex: 0 1 auto;
    padding: 10px 0px 0px 30px; // top right bottom left
    align-self: center;
}

.showcase p span {
    background: rgba(lighten(#444, 2), 0.2);
    line-height: 1.8px;
}

footer {
    position: absolute;
    z-index: 3;
    height: 50px;
    bottom: 5px;
    left: 0px;
    right: 0px;
    text-align: center;

    .footer-content {
        justify-content: space-between;
        align-items: center;
        height: 2rem;
    }

    .social .fab {
        margin-right: 2rem;
        line-height: 20px;
        text-align: center;
        padding: 0.5rem;
        color: $carolina-blue;

        &:hover {
            color: #fff;
        }
    }
}

// Flex About
#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-evenly;
    font-family: $textReg;
    color: $main-text;


    h4 {
        font-family: $textScript;
        font-size: xxx-large;
        text-shadow: .5px .5px grey;
        padding: 1rem 2rem;
    }

    .profile {
        max-width: 200px;
        align-self: flex-start;
        flex: 0 1 auto;
    }


    .b {
        align-self: center;
        flex: 1 0 auto;
        max-width: 800px;
        letter-spacing: .5px;
        padding: 2rem 2rem 2rem 2rem;
        font-weight: bold;
    }

    .a {
        text-indent: 4em;
        font-weight: 100;
    }

}

// Contact
#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
    align-content: space-evenly;
    font-family: $textReg;
    color: $main-text;
    padding: 3rem;

    h4 {
        font-family: $textScript;
        font-size: xxx-large;
        text-shadow: .5px .5px grey;
        padding: 1rem 2rem;
    }

    ul li {
        font-family: $textReg;
        font-size: larger;
        font-weight: bold;
        padding-top: .5rem;
    }

    // might be nice to background the info here
    ul li mark {
        background-color: $carolina-blue;
        color: $main-text;
    }

}

// Grid id of Home a and b

#home-a {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        position: relative;
        z-index: 4;
        font-family: $textReg;
        color: $main-text;

        .fas {
            color: $carolina-blue;
            padding-bottom: 1rem;
            align-self: center;
            flex: 0 1 auto;
            position: relative;
            z-index: 4;
        }

        h3 {
            align-self: center;
            flex: 0 1 auto;
            padding-bottom: 1rem;
        }

        .stats-title {
            font-family: $textReg;
            align-self: center;
            flex: 0 1 auto;
            padding-bottom: 1rem;

        }
    }
}

#home-b {
    .stats {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        text-align: center;
        font-family: $textReg;
        position: relative;
        z-index: 4;
        font-family: $textReg;
        color: $main-text;

        .stats-title {
            font-weight: bold;
            padding: 1rem;
        }
    }

    .fas {
        color: $carolina-blue;
        padding-bottom: 0.2rem;
        align-self: center;
    }
}

#main-projects {
    #mePic {
        border-radius: 3%;
        max-height: auto;
        max-width: 600px;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-family: $textReg;
    color: $main-text;
    padding: 5rem;

    h1 {
        padding: 1rem;
        align-self: center;
    }

    h2 {
        padding: 1rem;
        align-self: center;
    }

    h3 {
        padding: 1rem;
        align-self: center;
    }

}